<div class="chart-container">
  <div class="chart-header">
    <div class="header-titles">
      <h3>Análise de ENA</h3>
      <p class="subtitle">%MLT e MWmed Consolidado</p>
    </div>
    
    <div class="forecast-evolution">
      <span class="evolution-label">Evolução da Previsão:</span>
      <mat-button-toggle-group [(ngModel)]="selectedOffset" (change)="selectedOffset.set($event.value)" aria-label="Evolução da Previsão">
        <mat-button-toggle [value]="0">Hoje</mat-button-toggle>
        <mat-button-toggle [value]="-1">-1 Dia</mat-button-toggle>
        <mat-button-toggle [value]="-2">-2 Dias</mat-button-toggle>
        <mat-button-toggle [value]="-3">-3 Dias</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div echarts [options]="chartOptions()" class="echarts-wrapper"></div>
</div>
