.menza-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f8fafc;
}
.menza-nav {
  background: #ffffff;
  padding: 0 16px;
  border-bottom: 1px solid #e2e8f0;
}
.content-wrapper {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}
::ng-deep .mat-mdc-tab-link {
  font-weight: 500 !important;
  font-size: 14px !important;
}
